#signup-page {

  .form {
    padding-top: 50px;
    width:340px;
  }
  .signup-wall {
    background: url('../../assets/images/others/signup_wall.svg') no-repeat bottom center;
    background-size: contain;
  }

}
