#login-page {
  min-height: 100vh;
  padding:70px 90px 0px 90px;

  .form-padding {
    padding: 0px 70px;
  }

  .login-wall {
    background: url('../../assets/images/others/login_wall.svg') no-repeat bottom center;
    background-size: contain;
    height: calc(100vh - 70px);
  }

  .border-sep {
    height: 1px;
    background: #DEDFE2;
  }

  .or-line {
    div {
      background: #D9D9D9;
      height: 20px;
      border-top: 11px solid #fff;
      border-bottom: 8px solid #fff;
      border-left: 25px solid #fff;
    }

    span {
      color: #808080;
      position: absolute;
      left: 0px;
      padding-right: 5px;
    }
  }

  .login-form-button {
    border-radius: 4px !important;
    padding: 11px !important;
  }

  .list-unstyled {
    .media {
      margin-bottom: 30px;

      img {
        height: 30px;
        width: 40px;
      }

      .media-body {
        font-size: 0.8125rem;
        color: #333333;
      }

      h5 {
        font-size: 1rem;
        font-weight: 500;
        color: #333333;
        line-height: 1rem;
        padding-bottom: 4px;
      }
    }
  }

  .login-gradient {
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(180deg, #ffffff 0%, #F5F5F5 100%) 0% 0% no-repeat padding-box;
  }
}
