@import "variables";


body {
  background-color: $body-bg;
}
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***********************/
/* template changes : heeader, footer, body, content */
/***********************/
.ant-layout {
  background: $body-bg!important;
}
.ant-layout-header {
  background: $body-bg!important;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  background: transparent;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  height: $main-menu-width;
  width: $main-menu-width;
  padding:15px;
}


/***********************/
/* menu */
/***********************/

.ant-layout-sider {
  flex: 0 0 290px!important;
  max-width: 290px!important;
  min-width: 290px!important;
  width: 290px!important;
  background: #F8F8FA!important;

  .ant-menu-inline-collapsed {
    width: $main-menu-width!important;
  }
  .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0px !important;
    background: $brand-primary;
    height: 34px;
    width: 35px;
    margin: 25px auto;
    text-align: center;
    border-radius: 8px;
  }

  .anticon {
    vertical-align: 0rem!important;
    line-height: 34px!important;
    opacity: 0.5;
  }

  .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item-group-title > a {
    line-height: 34px;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #ffffff1a;
    .anticon {
      vertical-align: 0rem!important;
      line-height: 34px!important;
      opacity: 1;
    }
  }

  #components-layout-demo-custom-trigger .logo {
    height: $main-menu-width;
    background: rgb(28, 107, 195);
    margin: 0px;
    width: $main-menu-width;
  }


}


/* form control */
.ant-input {
  height: 34px!important;
}
.ant-form-item {
  margin-bottom: 15px!important;

  .ant-input {
    height: 34px;
    border:1px solid $input-border-color;
  }

  .ant-form-item-label {
    line-height: 18px !important;
    font-weight: 500;
  }

  .ant-form-item-label > label::after {
    content: '';
  }
   .ant-form-item-control {
     line-height: 34px;
   }
 }

.text-right {
  text-align: right;
}


/* tooltip */
.ant-tooltip-placement-top .ant-tooltip-arrow, .ant-tooltip-placement-topLeft .ant-tooltip-arrow, .ant-tooltip-placement-topRight .ant-tooltip-arrow {
  bottom: -5px;
}
.ant-tooltip-placement-right .ant-tooltip-arrow, .ant-tooltip-placement-rightBottom .ant-tooltip-arrow, .ant-tooltip-placement-rightTop .ant-tooltip-arrow {
  left: -5px;
}

